<!-------------LOGIN----------------->

<%= form_with method: "post", url: "/sessions", id: "login-form" do |form| %>
<h2>Login</h2>

  <div>
    <%= form.email_field :email %>
    <%= form.label :email %>
  </div>
  <div>
    <%= form.password_field :password %>
    <%= form.label :password %>
  </div>
  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end%>

