<!-------------RESERVE ROOM----------------->
<%= form_for [@room, @reservation], url: reservations_room_path(@room) do |f| %>
<h1>Reserve Room</h1>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>

  <%= f.label :end_date %>
  <%= f.date_select :end_date %>

  <%= f.submit "Reserve Room" %>
<% end %>